
<div><b><%=customer_full_name(params[:customer_id]) %></b></div>
<div><%=customer_address(params[:customer_id]) %></div>
<div><%=customer_city_postal_code(params[:customer_id]) %></div>
<div><%= customer_phones(params[:customer_id]) %></div>
