<%= semantic_form_for @estimate, :url => customer_estimate_path do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs do %>
    <%= f.input :estimate_type, :as => :select, :collection => ["Interior","Exterior","Exterior & Interior"], :label => "Painting type" %>
    <%= f.input :estimate_address %>
    <%= f.input :estimate_city %>
    <%= f.input :estimate_province, :input_html=>{:class=>"datepicker"} %>
    <p class="ckeditor-label">Estimate Detailssssssss</p>
    <%= f.input :estimate_details,:as=>"text", :label => false, :input_html=>{:class=>"ckeditor"} %>
    <%= f.input :estimated_on_date, :input_html=>{:class=>"datepicker"} %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, label: 'Save Changes' %>
  <% end %>
<% end %>


<script type="text/javascript">
$(document).ready(function(){
    $('.datepicker').datepicker();
  })




CKEDITOR.replace( 'estimate_estimate_details',
  {
    toolbar :
    [
      { name: 'basicstyles', items :  ['Format','Font','FontSize','-','Bold','Italic','Underline','-','Undo','Redo','-','Cut','Copy','Paste','-','Outdent','Indent' ] },
      { name: 'paragraph', items : [ 'NumberedList','BulletedList','-','JustifyLeft','JustifyCenter','JustifyRight' ] }
    ]
  });
</script>
