<%= semantic_form_for @estimate, url: customer_estimates_path do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs do %>
    <%= f.input :estimate_type, as: :select, :collection => ["Interior","Exterior","Exterior & Interior"], :label => "Painting type" %>
    <%= f.input :estimate_address %>
    <%= f.input :estimate_city %>
    <%= f.input :estimate_province %>
    <p class="ckeditor-label">Estimate Details</p>
    <%= f.input :estimate_details, label: false, input_html: {class: "ckeditor"} %>
	<%= f.input :estimate_amount, as: :string, label: 'Amount' %>
	<%= f.input :estimate_gst_include, label: 'Include GST' %>
    <%= f.input :estimate_gst, as: :string, input_html: {readonly: true}, label: 'GST ( 5.00 % )' %>
    <%= f.input :estimate_total, as: :string, input_html: {readonly: true}, label: 'Total' %>
    <%= f.input :estimated_on_date %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, label: 'Save Estimate' %>
  <% end %>
<% end %>

<script>

$(document).ready(function(){
  $('#estimate_estimate_amount').blur(function(){
	  if(isNaN($('#estimate_estimate_amount').val())){
	    alert('Enter the proper estimate amount');
	  }else{
	  	//calculate GST amount and total amount
	  	if($('#estimate_estimate_gst_include').is(':checked')){
		  	var gst = $('#estimate_estimate_amount').val() * 0.05
		  	var gst_rounded = gst.toFixed(2)
	  	}else{
			var gst_rounded = 0
	  	}
	  	var total = parseFloat($('#estimate_estimate_amount').val()) + parseFloat(gst_rounded)
	  	var total_rounded = total.toFixed(2)
		$('#estimate_estimate_gst').val(gst_rounded)
	  	$('#estimate_estimate_total').val(total_rounded)
	  }
  });
});




CKEDITOR.replace( 'estimate_estimate_details',
  {
    toolbar :
    [
      { name: 'basicstyles', items :  ['Format','Font','FontSize','-','Bold','Italic','Underline','-','Undo','Redo','-','Cut','Copy','Paste','-','Outdent','Indent' ] },
      { name: 'paragraph', items : [ 'NumberedList','BulletedList','-','JustifyLeft','JustifyCenter','JustifyRight' ] }
    ]
  });
</script>
