<div class="container-fluid">
  <h4>All Estimates</h4>
   <fieldset>
     <div class="row-fluid">
       <div class="span12">
         <table class="table table-striped">
           <tr class="main-header">
             <th>Estimate #</th>
             <th>Estimate Details</th>
             <th>Created on</th>
			 <th>Customer</th>
             <th style="width: 120px;">&nbsp;</th>
           </tr>
           <% @all_estimates.each do |estimate| %>
           <tr class= "<%= estimate.invoice_id ? 'green-row' : '' %>">
             <td><%= estimate.estimate_desc_id %></td>
             <td><%= estimate.estimate_details.html_safe %></td>
             <td><%= estimate.estimated_on_date.strftime('%B %d, %Y') %></td>
			 <td><%= customer_full_name(estimate.customer_id)%></td>
             <td>
               <div class="btn-group">
                 <%= link_to 'Show Estimate', customer_estimate_path(estimate.customer_id,estimate), class: 'btn btn-mini' %>
                 <%= link_to 'Show Customer', customer_path(estimate.customer_id), class: 'btn btn-mini' %>
                 <% if estimate.invoice_id %>
                    <%= link_to 'Show Invoice', customer_invoices_path(estimate.invoice_id), class: 'btn btn-mini' %>
                  <% else %>
                    <%= link_to 'Create Invoice', new_customer_invoice_path(:estimate_id => estimate.id, :customer_id => estimate.customer_id), class: 'btn btn-mini' %>
                  <% end %>
               </div>
             </td>
           </tr>
         <% end %>
         </table>
       </div>
     </div>

   </fieldset>
   <div style="padding-bottom:10px;">
	   <%= link_to 'Back', customers_path, class: 'btn' %>
   </div>
 </div>