<h4>Editing estimate</h4>
<div style="margin-left:260px;"><%= render partial: "estimates/customer_details", locals: {customer_id: @estimate.customer_id} %></div>
<%= render 'edit' %>

<td><%= link_to 'Show', customer_estimate_path(@estimate.customer_id,@estimate), class: 'btn btn-mini' %></td>
<td><%= link_to 'Back', customer_estimate_path(@estimate.customer_id,@estimate), class: 'btn btn-mini' %></td>

