<div class="container-fluid">
  <h4>All Estimates for <%= customer_full_name(params[:customer_id])%></h4>
   <fieldset>
     <div class="row-fluid">
       <div class="span12">
         <table class="table table-striped">
           <tr class="main-header">
              <th>Estimate #</th>
              <th>Estimate Details</th>
              <th>Created on</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          <% @estimates.each do |estimate| %>
            <tr>
               <td><%= estimate.estimate_desc_id %></td>
               <td><%= estimate.estimate_details.html_safe %></td>
               <td><%= estimate.estimated_on_date.strftime('%B %d, %Y') %></td>
              <td>
                <div class="btn-group">
                 <%= link_to 'Show Estimate', customer_estimate_path(estimate.customer_id,estimate), class: 'btn btn-mini' %>
                 <% unless estimate.invoice_id.blank? %>
                    <%= link_to 'Show Invoice', customer_invoice_path(estimate.customer_id,estimate.invoice_id), class: 'btn btn-mini' %>
                  <% else %>
                    <%= link_to 'Create Invoice', new_customer_invoice_path(:estimate_id => estimate.id, :customer_id => estimate.customer_id), class: 'btn btn-mini' %>
                  <% end %>
                </div>
               </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </fieldset>
  <div style="padding-bottom:10px;">
      <%= link_to 'Back', customers_path, class: 'btn' %>
      <%= link_to 'New Estimate', new_customer_estimate_path, class: 'btn' %>
	  <br/><br/>
  </div>
</div>

