<h4>New estimate</h4>
<div style="margin-left:260px;"><%= render partial: "estimates/customer_details", locals: {customer_id: @estimate.customer_id} %></div>
<%= render 'form' %>

<%= link_to 'Back', customer_estimates_path, class: 'btn btn-mini' %>