<h4>Estimate</h4>
<div style="margin-left:260px;"><%= render partial: "estimates/customer_details", locals: {customer_id: @estimate.customer_id} %></div>

<dl class="dl-horizontal">
  <dt>Estimate Type:</dt>
  <dd><%= @estimate.estimate_type %></dd>
  <dt>Address</dt>
  <dd><%= @estimate.estimate_address %></dd>
  <dt>City:</dt>
  <dd><%= @estimate.estimate_city %></dd>
  <dt>Province:</dt>
  <dd><%=@estimate.estimate_province %></dd>
  <dt>Details:</dt>
  <dd><%= @estimate.estimate_details.html_safe %></dd>
  <dt>Estimated on:</dt>
  <dd><%= @estimate.estimated_on_date.strftime('%B %d, %Y') %></dd>
</dl>
<br/>
<div class="btn-group">
  <%= link_to 'Edit', edit_customer_estimate_path(@estimate.customer_id,@estimate), class: 'btn btn-mini' %>
  <%= link_to 'Back', customer_estimate_path(@estimate.customer_id,@estimate), class: 'btn btn-mini' %>
</div>