<!-- display customer info -->

<%= semantic_form_for @invoice, :url => customer_invoices_path do |f| %>

  <%= f.semantic_errors %>
  <%= f.inputs do %>

  	<%= f.input :estimate_id, :as => "hidden", :value => params[:estimate_id]  %>
    <%= f.input :invoice_desc_id, :label => "Description" %>
    <%= f.input :po_number, :label => "PO Number" %>
    <p class="ckeditor-label">Details</p>
    <%= f.input :invoice_details, :as=>"text", :label => false, :input_html=>{:class=>"ckeditor"} %>
    <%= f.input :invoice_created_on, :label => "Date Created" %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, label: 'Submit' %>
  <% end %>
<% end %>


<script>
CKEDITOR.replace( 'invoice_invoice_details',
  {
    toolbar :
    [
      { name: 'basicstyles', items :  ['Format','Font','FontSize','-','Bold','Italic','Underline','-','Undo','Redo','-','Cut','Copy','Paste','-','Outdent','Indent' ] },
      { name: 'paragraph', items : [ 'NumberedList','BulletedList','-','JustifyLeft','JustifyCenter','JustifyRight' ] }
    ]
  });
</script>