<div class="container-fluid">
  <h4>All Invoices</h4>
   <fieldset>
     <div class="row-fluid">
       <div class="span12">
         <table class="table table-striped">
           <tr class="main-header">
              <th>Description</th>
              <th>PO number</th>
              <th>Details</th>
              <th>Created on</th>
			  <th>Customer</th>
              <th style="width: 120px;">&nbsp;</th>
            </tr>

          <% @all_invoices.each do |invoice| %>
            <tr>
              <td><%= invoice.invoice_desc_id %></td>
              <td><%= invoice.po_number %></td>
              <td><%= invoice.invoice_details.html_safe %></td>
              <td><%= invoice.invoice_created_on.strftime('%B %d, %Y') %></td>
			  <td><%= customer_full_name(invoice.customer_id)%></td>
              <td>
                <div class="btn-group">
                 <%= link_to 'Show Invoice', customer_invoice_path(invoice.customer_id,invoice), class: 'btn btn-mini' %>
                 <%= link_to 'Show Customer', customer_path(invoice.customer_id), class: 'btn btn-mini' %>
                 <% unless invoice.estimate_id.blank? %>
                    <%= link_to 'Show Estimate', customer_estimate_path(invoice.customer_id,invoice.estimate_id), class: 'btn btn-mini' %>
                  <% else %>
                    <%= link_to 'Create Estimate', new_customer_estimate_path(invoice), class: 'btn btn-mini' %>
                  <% end %>
               </div>
               </td>
            </tr>
          <% end %>
        </table>
       </div>
      </div>
  </fieldset>
  <div style="padding-bottom:10px;">
	 	<%= link_to 'Back', customers_path, class: 'btn' %>
  </div>
</div>