<h4>Editing invoice</h4>
<div style="margin-left:260px;"><%= render partial: "estimates/customer_details", locals: {customer_id: @invoice.customer_id} %></div>
<%= render 'edit' %>

<td><%= link_to 'Show', customer_invoice_path(@invoice.customer_id,@invoice), class: 'btn btn-mini' %></td>
<td><%= link_to 'Back', customer_invoice_path(@invoice.customer_id,@invoice), class: 'btn btn-mini' %></td>

