<div class="container-fluid">
  <h4>All Invoices for <%= customer_full_name(params[:customer_id])%></h4>
   <fieldset>
     <div class="row-fluid">
       <div class="span12">
         <table class="table table-striped">
           <tr class="main-header">
              <th>Invoice #</th>
			  <th>PO Number</th>
              <th>Invoice Details</th>
              <th>Created on</th>
              <th></th>
              <th></th>
            </tr>
          <% @invoices.each do |invoice| %>
            <tr>
		        <td><%= invoice.invoice_desc_id %></td>
		        <td><%= invoice.po_number %></td>
		        <td><%= invoice.invoice_details.html_safe %></td>
		        <td><%= invoice.invoice_created_on.strftime('%B %d, %Y') %></td>
              <td>
                <div class="btn-group">
                 <%= link_to 'Show Invoice', customer_invoice_path(invoice.customer_id,invoice), class: 'btn btn-mini' %>
                 <% if invoice.estimate_id %>
                    <%= link_to 'Show Estimate', customer_estimate_path(invoice.customer_id,invoice.estimate_id), class: 'btn btn-mini' %>
				 <% else %>
				 	<div class='btn btn-mini disabled'>No Estimate</div>
				 <% end %>
                </div>
               </td>
            </tr>

          <% end %>
        </table>
      </div>
    </div>
    <%= link_to 'Back', customers_path, class: 'btn' %>
    <%= link_to 'New Invoice', new_customer_invoice_path, class: 'btn' %>
  </fieldset>
</div>
