<h4>New invoice</h4>

<div style="margin-left:260px;"><%= render partial: "estimates/customer_details", locals: {customer_id: @invoice.customer_id} %></div>

<%= render 'form' %>

<%= link_to 'Back', invoices_path %>
