<p id="notice"><%= notice %></p>
<h4>Invoice</h4>
<div style="margin-left:260px;"><%= render partial: "estimates/customer_details", locals: {customer_id: @invoice.customer_id} %></div>

<dl class="dl-horizontal">
	<dt>Invoice desc:</dt>
	<dd><%= @invoice.invoice_desc_id %></dd>
	<dt>PO number:</dt>
	<dd><%= @invoice.po_number %></dd>
	<dt>Details:</dt>
	<dd><%= @invoice.invoice_details.html_safe %></dd>
	<dt>Created on:</dt>
	<dd><%= @invoice.invoice_created_on.strftime('%B %d, %Y') %></dd>
</dl>
<br/>
<div class="btn-group">
	<td><%= link_to 'Edit', edit_customer_invoice_path(@invoice.customer_id,@invoice), class: 'btn btn-mini' %></td>
	<td><%= link_to 'Back', customer_invoice_path(@invoice.customer_id,@invoice), class: 'btn btn-mini' %></td>
</div>