<%= semantic_form_for @customer do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs do %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :province %>
    <%= f.input :postal_code %>
    <%= f.input :home_phone %>
    <%= f.input :cell_phone %>
    <%= f.input :comments, input_html: {:row => "10"}%>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: 'Submit' %>
  <% end %>
<% end %>