<h4>Editing customer</h4>
<hr/>
<%= render 'form' %>

<div class="btn-group">
  <%= link_to 'Show', @customer, class: 'btn btn-mini' %>
  <%= link_to 'Back', customers_path, class: 'btn btn-mini' %>
</div>