<div class="container-fluid">
  <h4>All Customers</h4>
   <fieldset>
     <div class="row-fluid">
       <div class="span12">
         <table class="table table-striped">
           <tr class="main-header">
             <th>First Name</th>
             <th>Last Name</th>
             <th>Address</th>
             <th style="width: 120px;">&nbsp;</th>
           </tr>
           <% @customers.each do |customer| %>
           <tr>
             <td><%= customer.first_name %></td>
             <td><%= customer.last_name %></td>
             <td><%= customer.address %></td>
             <td>
               <div class="btn-group">
                 <%= link_to 'Show', customer, class: 'btn btn-mini' %>
                 <%= link_to 'All Estimates', customer_estimates_path(customer), class: 'btn btn-mini' %>
                 <%= link_to 'All Invoices', customer_invoices_path(customer), class: 'btn btn-mini' %>
               </div>
             </td>
           </tr>
         <% end %>
         </table>
       </div>
     </div>
     <%= link_to 'New Customer', new_customer_path, class: 'btn' %>
   </fieldset>
 </div>