<h4>Customer</h4>
<hr/>

<dl class="dl-horizontal">
  <dt>First Name:</dt>
  <dd><%= @customer.first_name %></dd>
  <dt>Last Name:</dt>
  <dd><%= @customer.last_name %></dd>
  <dt>Address</dt>
  <dd><%= @customer.address %></dd>
  <dt>City:</dt>
  <dd><%= @customer.city %></dd>
  <dt>Province:</dt>
  <dd><%=@customer.province %></dd>
  <dt>Postal Code:</dt>
  <dd><%=@customer.postal_code %></dd>
  <dt>Home Phone:</dt>
  <dd><%= @customer.home_phone %></dd>
  <dt>Cell Phone:</dt>
  <dd><%= @customer.cell_phone %></dd>
  <dt>Comments:</dt>
  <dd><%= @customer.comments %></dd>
</dl>
<br/>
<div class="btn-group">
  <div class="btn-group">
     <%= link_to 'Edit', edit_customer_path(@customer), class: 'btn btn-mini' %>
     <%= link_to 'Back', customers_path, class: 'btn btn-mini' %>
  </div>
</div>
