/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require bootstrap-without-forms
 *= require formtastic-plus-bootstrap
 *= require bootstrap-responsive
 *= require formtastic-plus-bootstrap/responsive
 *= require_tree .
 */
 // change colors
 $link-color: red;


// change default bootstrap  *$btnPrimaryBackground: #f00;
 // import original bootstrap
 @import "bootstrap";
 body { padding-top: 60px; }
 @import "bootstrap-responsive";

 .green-row{
	 border-left: 5px solid #88BB77;
	 border-right: 5px solid #88BB77;
 }