// Place all the styles related to the estimates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#estimate_estimate_details_input{
  width: 700px;
  margin-left: 240px;
}
.ckeditor-label{
  margin-left:240px;
  font-weight:bold;
}