// Place all the styles related to the invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#invoice_invoice_details_input{
  width: 700px;
  margin-left: 240px;
}
.ckeditor-label{
  margin-left:240px;
  font-weight:bold;
}