<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="header-img">
         <%= link_to image_tag("emp-banner-image-l.jpg"), root_path %>
      </div>
    </div>
  </div>
</div>