<!-- link_to "Home", root_path, :class => 'brand' % -->
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to('Customers', customers_path) %>
    </li>
    <li>
    <%= link_to('Estimates', estimates_path) %>
    </li>
    <li>
    <%= link_to('Invoices', invoices_path) %>
    </li>
    <li class="pull-right">
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
    </li>
  <% else %>
    <li class="pull-right">
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
</ul>