<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Euro - men Painting Ltd." %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Euro - men Painting Ltd." %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
	<div style="margin-top:150px;">
    <header class="navbar navbar-fixed-top">
      <div style="border:10px solid white;"><%= image_tag("address.jpg") %><%= link_to image_tag("emp-banner-image-l.jpg"), root_path %></div>
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
	</div>
    <main role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div>
    </main>
</html>


